6w4.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element name="wlasciciel">
 <xsd:complexType>
  <xsd:sequence>
   <xsd:element name="imie" type="xsd:string"/>
   <xsd:element name="zawod" type="xsd:string" minOccurs="1" />
   <xsd:element name="adres" type="xsd:string" minOccurs="0" maxOccurs="1" />
   <xsd:element name="telefon" type="xsd:string" minOccurs="0"/>  	
  </xsd:sequence>
 </xsd:complexType>				     
</xsd:element>
</xsd:schema>
